@font-face {
  font-family: Lora;
  src: url("/Lora.ttf");
}

@font-face {
  font-family: Inter;
  src: url("/Inter.ttf");
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(23, 23, 23);
}

.intro {
  display: flex;
  gap: 50px;
  padding: 115px 100px;
}

.intro_photo {
  width: 600px;
  height: 330px;
}

.intro_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro_text h1 {
  font-family: Lora;
  font-size: 45px;
  color: #171a1fff;
  margin-top: 40px;
  margin-bottom: 20px;
}

.intro_text p {
  font-family: Inter;
  font-size: 18px;
  color: #565d6dff;
}

.button {
  width: 155px;
  height: 40px;
  background-color: #48a830ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3d8a28ff;
}

.button:disabled {
  background-color: #a5a5a5;
  cursor: not-allowed;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.search_bar {
  width: 350px;
  height: 40px;
  font-family: Inter;
  font-size: 14px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #dee1e6ff;
  padding-left: 34px;
}

.selections {
  display: flex;
  gap: 25px;
}

.selections select {
  height: 40px;
  width: 180px;
  padding-left: 12px;
  font-family: Inter;
  font-size: 14px;
  color: #171a1fff;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #dee1e6ff;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 40px 7%;
}

@media (max-width: 900px){
  .intro{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro_photo{
    order: -1;
    width: 100%;
  }
}

@media (max-width: 600px){
  .intro{
    margin: 0;
    padding: 10px 7%;
  }

  .intro_photo{
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .intro_text h1{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .intro_text p{
    font-size: 16px;
  }

  .catalog{
    flex-direction: column;
    gap: 0;
    margin: 20px 7%;
    justify-content: center;
    align-items: center;
  }

  .button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
