.inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px 7%;
  padding-top: 50px;
  align-items: center;
}

.search_container {
  position: relative;
  width: 300px;
}

.search_bar {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  background-color: white;
  color: black;
}

.selections {
  display: flex;
  gap: 25px;
}

.selections select {
  height: 40px;
  width: 180px;
  padding-left: 12px;
  font-family: Inter;
  font-size: 14px;
  color: #171a1fff;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #dee1e6ff;
}

.search_icon_img {
  margin-top: 4px;
  width: 20px;
}

.search_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  list-style: none;
}

.search_dropdown_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

.search_dropdown_item:hover {
  background-color: #f0f0f0;
}

.stars_container {
  display: flex;
  gap: 2px;
}

.star {
  color: #48a830ff;
}

@media (max-width: 1200px) {
  .inputs {
    flex-direction: column;
    gap: 15px;
    margin-top: -10px;
  }

  .selections select {
    width: 26.7vw;
    font-size: 12px;
  }

  .search_container {
    width: 100%;
  }

  .search_bar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .selections select {
    width: 25vw;
  }
}
